td.mono, p.mono, ol.mono, p, table.mono, ol {
	color: black;
	background: white;
/*        font-family: Courier, monospace; */
}

ul li {
        list-style-type: none;
}

ol li {
        list-style-type: decimal;
}

ol li li {
        list-style-type: upper-alpha;
}

ol li li li {
        list-style-type: decimal;
}

h2 {
        color: black;
        background: white;
/*        font-family: Courier, monospace; */
        font-size: 100%;
        font-weight: normal;
        text-decoration: underline;
        text-align: center;
}

h3 {
        text-decoration: underline;
}

th {
        font-weight: normal;
}

