
BODY {
	color: black;
	background: white;
}

P.h1 {
	text-align: center;
	margin-left: 25%;
	margin-right: 25%;
}

P.h2 {
	text-align: center;
	margin-left: 15%;
	margin-right: 15%;
	white-space: nowrap;
}

P.p1 {
	text-align: justify;
	font: x-small;
	margin-left: 25%;
	margin-right: 25%;
}

P.p2 {
	text-align: justify;
	font: x-small;
	margin-left: 15%;
	margin-right: 15%;
}

P.p3 {
	text-align: left;
	font: x-small;
	margin-left: 15%;
}
