
BODY {
	color: black;
	background: white;
}

UL LI LI {
	list-style-type: none;
}

TD {
	padding-right: 10pt;
}

.asmconn {
	border: solid black 1pt;
}

.asmconn TD {
	border: solid black 1pt;
}

.asmconn TH {
	border: solid black 1pt;
}

.partscomb {
	border: solid black 1pt;
}

TD.partscombright {
	padding-left: 5pt;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
}

TD.partscombleft {
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	border-right-style: solid;
	border-right-width: 1pt;
}

.parts {
	border: none;
	border-color: black;
	border-width: 1pt;
}

TABLE.parts {
	border-style: none none solid none;
}

.parts TH {
	border-style: solid none solid solid;
}

.parts TD {
	border-style: none none none solid;
        white-space: nowrap;
}

.parts TD.r {
        border-style: none none none none;
        white-space: nowrap;
        text-align: right;
}

.parts TD.l {
        border-style: none none none none;
        white-space: nowrap;
        text-align: left;
}

.note {
	border: solid black 2pt;
	padding: 10pt;
}

.note TD {
	border: none;
}

.trouble {
	border: solid black;
}

TABLE.trouble {
	margin-top: 0.5cm;
	border-width: 0 1pt 1pt 0;
}

TH.trouble {
	border-width: 1pt 0 1pt 1pt;
}

TD.trouble {
	border-style: none none none solid; 
	border-width: 0 0 0 1pt;
}

TD.trouble UL {
	list-style-type: none;
	margin: 0;
}
