
body {
	color: black;
	background: white;
}

H1, H2, H3, H4, H5, H6 {
	color: blue;
	background: white
}

LI LI {
	list-style-type: none
}

TABLE.asmlang TH {
        color: black;
        background: white;
        font-family: monospace;
        padding: 10px;
}

TABLE.asmlang TD {
        font-family: monospace;
        white-space: pre;
}

TABLE.blue {
	border-color: blue;
}

TH {
	color: blue;
	background: white;
}

TH.black {
	color: black;
	background: white;
}

TD {
	color: black;
	background: white;
}

P.blue {
	color: blue;
	background: white;
}

A:link {
	background: white;
	color: blue;
}

A:visited {
	background: white;
	color: navy;
}

CAPTION {
	background: white;
	color: blue;
	font-weight: bold;
}

B.blue {
	color: blue;
	background: white;
}

A IMG {
        background: white;
        color: white;
}
