@import url(default.css);

TABLE.thick {
	border-style: solid none solid solid;
	border-width: 1pt;
	border-color: black;
}

TABLE.thick TR TD {
	border-style: none solid none none;
	border-color: black;
	border-width: 1pt;
	padding: 1pt 20pt 1pt 15pt;
}
