
body {
	color: white;
	background: blue;
}

a {
	color: white;
	background: blue;
}

li {
	color: white;
	background: blue;
	list-style: disc;
}

a img {
	color: blue;
	background: blue;
}

ul {
	color: white;
	background: blue;
}