/* BUTTONS
 ================================================== */
.ecae-button.ecae-buttonskin-none {
	font-size: 14px;
}

.ecae-button.ecae-buttonskin-none a.ecae-link {
	font-size: inherit;
	margin-left: -13px;
}

.ecae-button.ecae-buttonskin-none a.ecae-link span {	
	padding: 5px 10px;
}