body, td, p {
    color: black;
    background: white;
    font-size: medium;
}

h1, h2, h3 {
    color: black;
    background: white;
    font-size: medium;

}

ul {
    color: black;
    background: white;
    list-style-type: none;
}

